/* Write your CSS here */

.about-img {
  width: 100px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.about-heading {
  font-size: 30px;
  margin-top: 7px;
}
